certifi==2022.12.7
chardet==3.0.4
ConfigArgParse==1.2.3
cycler==0.10.0
decorator==4.4.2
densenet-pytorch==0.2.0
diGraph==0.1.4
easydict==1.9
future==0.18.2
graphviz==0.14
guppy3==3.1.0
idna==2.10
imageio==2.8.0
insightface==0.1.5
joblib==0.16.0
kiwisolver==1.2.0
matplotlib==3.2.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
networkx==2.4
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603479632437/work
olefile==0.46
opencv-python==4.3.0.36
pandas==1.1.5
patsy==0.5.1
Pillow @ file:///tmp/build/80754af9/pillow_1609786740831/work
protobuf==3.12.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
PyWavelets==1.1.1
PyYAML==5.3.1
raven==6.10.0
requests==2.24.0
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.4.1
six @ file:///tmp/build/80754af9/six_1605205313296/work
statsmodels==0.12.1
tensorboard-logger==0.1.0
threadpoolctl==2.1.0
tifffile==2020.6.3
torch==1.7.1
torchvision==0.8.2
tqdm==4.48.2
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
urllib3==1.25.10
