# Configuration settings for round 2
pruning_method = reset
sampling_method= targeted
ranking_method = L1
num_samples = 15
num_images_used = 10
linear_regression_filepath = ./linear_regression_data/r4_reset_L1_targeted_15_10_0p067.csv
trim_pruned_amount = 0.5
trim_pruned_multiplier = 4.0
trim_pruned_divisor = 1000.0
reset_pruned_divisor = 1000.0
remove_pruned_num_samples_threshold = 5
remove_pruned_divisor = 1000.0
mean_acc_pruned_model_threshold = 0.01
prob_trojan_in_model_min_threshold = 0.0
prob_trojan_in_model_max_threshold = 1.0
num_duplicate_data_iterations = 1
batch_size = 100
num_workers = 4
# no_cuda